@page
@model ListModel


@foreach (var item in Model.model)
{
    <div>
        <div>Email: @item.UserEmail</div>
        <ul>
            @foreach (var role in item.Roles)
            {
                <li>Role: @role</li>

            }
        </ul>
        <div>
            <form method="post" asp-page-handler="DeleteUser" asp-route-email="@item.UserEmail">
                <button type="submit">Delete</button>
            </form>
        </div>
        <div>
            <form method="post" asp-page-handler="LockUser" asp-route-email="@item.UserEmail">
                <button type="submit">Lock 7 Days</button>
            </form>
        </div>
        <div>
            <form method="post" asp-page-handler="Unlock" asp-route-email="@item.UserEmail">
                <button type="submit">Unlock</button>
            </form>
        </div>
       

    </div>

}
